.viewportFirst{
    background-color: aquamarine;
    width: 100%;
    height: 500px;
    padding: 1em;

}

.viewportSecond{
    background-color: blanchedalmond;
    width: 100%;
    height: 500px;
    padding: 1em;
    
}

.card{
    width: 300px;
    border: solid 2px black;
    display: block;
    top: 0;
    
}

img{
    width: 50%;
    height: 50%;
    position: absolute;
    
}